# Project exclude paths
/.gradle/
/build/
/build/classes/java/main/
/run/
/.idea/
/1.16.x/build/
/1.17.x/build/
/1.18.x/build/
/1.19.x/build/
/1.16.x/.gradle/7.4/checksums/checksums.lock
/1.16.x/.gradle/7.4/dependencies-accessors/dependencies-accessors.lock
/1.16.x/.gradle/7.4/fileHashes/fileHashes.lock
/1.16.x/.gradle/7.4/dependencies-accessors/gc.properties
/1.16.x/.gradle/7.4/gc.properties
/1.16.x/.gradle/7.4/fileChanges/last-build.bin
/1.16.x/.gradle/vcs-1/gc.properties
