# Project exclude paths
/.gradle/
/build/
/build/classes/java/main/
/run/
/.idea/
/artifacts/

/common/build/
/fabric/build/
/forge/build/
/common/.gradle/
/fabric/.gradle/
/forge/.gradle/
/.architectury-transformer/